* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.overlay-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
}

.close {
  width: 2rem;
  height: 2rem;
  border-radius: 100px;
}

.close:hover {
  background-color: var(--light-green);
}

.close svg {
  width: 100%;
  height: 100%;
}

.user-photo {
  background-color: white;
  border-radius: 100px;
  box-shadow: 0 2.8px 10px -2px black;
}

.invalid-length {
  color: crimson;
}

/*button:disabled {
  opacity: 0.5;
}

button:disabled:hover {
  cursor: not-allowed;
  transition: unset;
}*/

button:disabled {
  opacity: 0.5;
}

button:disabled:hover {
  cursor: not-allowed;
}

.error-message {
  margin: 0 0 2rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.error-message svg {
  color: crimson;
  width: 2rem;
  height: 2rem;
}

.error-message span {
  color: crimson;
}

.content-block {
  background-color: white;
  border-radius: 10px;
  border: 1px var(--gray) solid;
}
