@import url("variables.css");

.overlay-base {
  background-color: white;
  min-width: 28rem;
  padding: 2rem;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
  border-radius: 10px;
}

.overlay {
  width: 100%;
  position: relative;
}

.overlay h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.overlay p {
  margin: 0;
}

.overlay button {
  height: 3rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 100px;
  background-color: var(--primary);

  color: white;
  font-weight: 700;
  font-size: 1rem;

  transition: background-color 100ms linear;
}

.overlay button:hover {
  background-color: var(--primary-dark);

  transition: background-color 100ms linear;
}

.sign-form .input-div {
  position: relative;
  height: 4rem;
}

.sign-form input {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  border: 1px solid var(--light-text);

  position: absolute;
  bottom: 0;
  left: 0;
}

.sign-form button {
  width: 100%;
}

.sign-form button:hover {
  background-color: var(--primary-dark);

  transition: background-color 100ms linear;
}

.close {
  justify-self: start;
}

.form-bug-message {
  color: crimson;
  font-size: 0.75rem;
  font-weight: 600;

  position: absolute;
  top: 0;
}

.sign-form .invalid-input {
  border: 1px solid crimson;
}

.sign-form .invalid-input::placeholder {
  color: crimson;
}

.account-created {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signed-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-img {
  margin-top: 1rem;
  width: 15rem;
}

.signout-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signout-confirm .choice-buttons {
  display: flex;
  gap: 1.5rem;
}

.signout-confirm .choice-buttons button {
  width: 8rem;
}

.signout-confirm .choice-buttons .no-btn {
  color: var(--dark-text);
  background-color: var(--light-green);
}

.signout-confirm .choice-buttons .no-btn:hover {
  background-color: var(--gray);
}

.hidden {
  display: none;
}
