:root {
  --primary: #7bb40a;
  --primary-dark: #659700;
  --light-green: #f0f5f0;
  --dark-text: #354935;
  --dark-text-2: #5c6d5c;
  --light-text: #819181;
  --gray: #bdc9bd;
  --light-gray: #d8e2d8;
}
