{{#extend "overlayBase"}}
  {{#content "content"}}
    <form class="sign-form signin-form overlay">
      <h1>Sign In</h1>
      <div class="input-div">
        <input
          class="form-element"
          data-field-name="email"
          type="text"
          placeholder="Email"
        />
      </div>
      <div class="input-div">
        <input
          class="form-element"
          data-field-name="password"
          type="text"
          placeholder="Password"
        />
      </div>
      <button type="submit">Login</button>
    </form>
  {{/content}}
{{/extend}}