{{#extend "overlayBase"}}
  {{#content "content"}}
    <div class="signout-confirm overlay">
      <p>Do you want to sign out?</p>
      <div class="choice-buttons">
        <button class="no-btn">No</button>
        <button class="yes-btn">Yes</button>
      </div>
    </div>
  {{/content}}
{{/extend}}