include ../users/userInfo

.croak-preview.content-block
    .croak-header
        +userInfo(author.photo, author.nickname)
        .post-time
            span #{postedAt}
    .croak-text
        p #{text}
    .croak-footer
        .engagements
            button(class=`like ${likeClasslist}`)
                .engagement-icon
                span.engagement-number #{likes.length}