{{> overlayBase}}

<form class="sign-form signin-form overlay">
  <h1>Sign In</h1>
  <div class="input-div">
    <input class="sign-email" type="text" placeholder="Email" />
  </div>
  <div class="input-div">
    <input class="sign-password" type="text" placeholder="Password" />
  </div>
  <button class="sign-submit" type="submit">Login</button>
</form>

{{!-- {{#extend "overlayBase"}}
  {{#content "content"}}
    <form class="sign-form signin-form overlay">
      <h1>Sign In</h1>
      <div class="input-div">
        <input class="sign-email" type="text" placeholder="Email" />
      </div>
      <div class="input-div">
        <input class="sign-password" type="text" placeholder="Password" />
      </div>
      <button class="sign-submit" type="submit">Login</button>
    </form>
  {{/content}}
{{/extend}} --}}