extends base

block content
    ul.content-header
        li
            button Feed
        if user
            li
                button Following
            li
                button People
            li
                button New
            li
                button Popular
            
    block croakerContent