<div class="error-message">
  <svg class="icon">
    <use xlink:href="/img/svgs/icons.svg#exclamation-triangle"></use>
  </svg>
  <span>
    {{message}}
  </span>

  {{! svg.icon.croaker-logo
          use(xlink:href='/img/svgs/icons.svg#croaker-logo') }}
</div>