{{#content-for "floating-container"}}
  <div class="account-created floating-container">
    <h1>Account successfully created!</h1>
    <p>Welcome to croaker!</p><img class="welcome-img" src="/img/welcome-to-croaker.png" alt="frog waving to you"/>
  </div>
{{/content-for}}
