{{#content-for "floating-container"}}
  <div class="signout-confirm floating-container">
    <p>Do you want to sign out?</p>
    <div class="choice-buttons">
      <button class="no-btn">No</button>
      <button class="yes-btn">Yes</button>
    </div>
  </div>
{{/content-for}}
