@import url("../variables.css");

.croak-preview {
  background-color: white;
  padding: 1.5rem;
}

.croak-preview .croak-header {
  padding: 0;
  width: 100%;

  display: flex;
  gap: space-between;
  justify-content: space-between;
  align-items: center;
}

.croak-preview .croak-text {
  margin-bottom: 2rem;
}

.croak-preview .croak-footer {
  width: 100%;
  display: flex;
  align-items: center;
}

.croak-preview .engagements {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.croak-preview .engagements > * {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.croak-preview .engagements:hover svg {
  background-color: var(--light-green);
}
