form.sign-form.signup-form.floating-container.hidden
    h1 Sign Up
    .input-div
        input.sign-nickname(type="text" placeholder="Nickname")
    .input-div
        input.sign-email(type="text" placeholder="Email")
    .input-div
        input.sign-password(type="text" placeholder="Password")
    .input-div
        input.sign-passwordConfirm(type="text" placeholder="Confirm Password")

    button.sign-submit(type="submit") Join 