form.sign-form.signin-form.floating-container.hidden
    h1 Sign In
    .input-div
        input.sign-email(type="text" placeholder="Email")
    .input-div
        input.sign-password(type="text" placeholder="Password")

    button.sign-submit(type="submit") Login

